<div class="card mb-3">
  <h2 class="card-header h4">
    Customer Friend #<%= customer_friend.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Sender</dt>
      <dd>
        <% if @customer_friend.sender.present? %>
          <%= link_to customer_friend.sender, customer_friend.sender %>
        <% end %>
      </dd>

      <dt>Receiver</dt>
      <dd>
        <% if @customer_friend.receiver.present? %>
          <%= link_to customer_friend.receiver, customer_friend.receiver %>
        <% end %>
      </dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back customer_friend, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_customer_friend_url(customer_friend), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to customer_friend, method: :delete, data: { confirm: "Do you really want to delete this customer_friend?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(customer_friend.updated_at) %> ago
  </div>
</div>
