<div class="card mb-3">
  <h2 class="card-header h4">
    Coupon #<%= coupon.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Merchants</dt>
      <dd>
        <% if @coupon.merchants.present? %>
          <%= link_to coupon.merchants, coupon.merchants %>
        <% end %>
      </dd>

      <dt>Amount</dt>
      <dd><%= coupon.amount %></dd>

      <dt>Expiry date</dt>
      <dd><%= coupon.expiry_date %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back coupon, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <% if current_merchant == @coupon.merchants %>
          <%= link_to edit_coupon_url(coupon), class: "btn btn-block btn-sm btn-outline-secondary" do %>
            <i class="fas fa-edit"></i>
          <% end %>
        <% end %>
      </div>

      <div class="col">
        <% if current_merchant == @coupon.merchants %>
          <%= link_to coupon, method: :delete, data: { confirm: "Do you really want to delete this coupon?" }, class: "btn btn-block btn-outline-secondary" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(coupon.updated_at) %> ago
  </div>
</div>
