<%= form_with(model: @assigned_coupon, local: true) do |f| %>

  <%= f.hidden_field :coupons_id, value: @coupon.id %>

  <div class="form-group">
    <%= f.label :customers_id %>

    <%= f.collection_select :customers_id, Customer.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.submit "Create assigned coupon", class: "btn btn-block btn-outline-secondary" %>
<% end %>
