<div class="card mb-3">
  <h2 class="card-header h4">
    Customer #<%= customer.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back customer, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <!-- Edit link customer start -->
      <div class="col">
        <%= link_to edit_customer_url(customer), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>
      <!-- Edit link customer end -->

      <!-- Delete link customer start -->
      <div class="col">
        <%= link_to customer, method: :delete, data: { confirm: "Do you really want to delete this customer?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
      <!-- Delete link customer end -->
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(customer.updated_at) %> ago
  </div>
</div>
