<%= form_with(model: @assigned_coupon, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :coupons_id %>

    <%= f.collection_select :coupons_id, Coupon.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :customers_id, value: @customer.id %>

  <%= f.submit "Create assigned coupon", class: "btn btn-block btn-outline-secondary" %>
<% end %>
