<%= form_with(model: @loyalty_program, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :merchants_id %>

    <%= f.collection_select :merchants_id, Merchant.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :customers_id, value: @customer.id %>

  <%= f.submit "Create loyalty program", class: "btn btn-block btn-outline-secondary" %>
<% end %>
