<%= form_with(model: @purchased_product, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :products_id %>

    <%= f.collection_select :products_id, Product.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :coupons_id %>

    <%= f.collection_select :coupons_id, Coupon.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :customers_id, value: @customer.id %>

  <div class="form-group">
    <%= f.label :quantity %>

    <%= f.text_field :quantity, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :loyaltyprogram_id %>

    <%= f.collection_select :loyaltyprogram_id, LoyaltyProgram.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :productsreview_id %>

    <%= f.collection_select :productsreview_id, ProductReview.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.submit "Create purchased product", class: "btn btn-block btn-outline-secondary" %>
<% end %>
