<%= form_with(model: @product_review, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :review %>

    <%= f.text_field :review, class: "form-control" %>
  </div>

  <%= f.hidden_field :customers_id, value: @customer.id %>

  <%= f.submit "Create product review", class: "btn btn-block btn-outline-secondary" %>
<% end %>
