<div class="card mb-3">
  <h2 class="card-header h4">
    Merchant #<%= merchant.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Name</dt>
      <!-- Display name start -->
      <dd><%= merchant.name %></dd>
      <!-- Display name end -->

      <dt>Description</dt>
      <!-- Display description start -->
      <dd><%= merchant.description %></dd>
      <!-- Display description end -->

      <dt>Address</dt>
      <!-- Display address start -->
      <dd><%= merchant.address %></dd>
      <!-- Display address end -->

      <dt>Tel</dt>
      <!-- Display tel start -->
      <dd><%= merchant.tel %></dd>
      <!-- Display tel end -->

      <dt>Picture</dt>
      <!-- Display picture start -->
      <dd><%= merchant.picture %></dd>
      <!-- Display picture end -->

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back merchant, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <!-- Edit link merchant start -->
      <div class="col">
        <%= link_to edit_merchant_url(merchant), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>
      <!-- Edit link merchant end -->

      <!-- Delete link merchant start -->
      <div class="col">
        <%= link_to merchant, method: :delete, data: { confirm: "Do you really want to delete this merchant?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
      <!-- Delete link merchant end -->
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(merchant.updated_at) %> ago
  </div>
</div>
