<%= form_with(model: @loyalty_program, local: true) do |f| %>

  <%= f.hidden_field :merchants_id, value: @merchant.id %>

  <div class="form-group">
    <%= f.label :customers_id %>

    <%= f.collection_select :customers_id, Customer.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.submit "Create loyalty program", class: "btn btn-block btn-outline-secondary" %>
<% end %>
