<%= form_with(model: @merchant_partnership, local: true) do |f| %>

  <%= f.hidden_field :sender_id, value: @merchant.id %>

  <div class="form-group">
    <%= f.label :receiver_id %>

    <%= f.text_field :receiver_id, class: "form-control" %>
  </div>

  <%= f.submit "Create merchant partnership", class: "btn btn-block btn-outline-secondary" %>
<% end %>
