<%= form_with(model: @coupon, local: true) do |f| %>

  <%= f.hidden_field :merchants_id, value: @merchant.id %>

  <div class="form-group">
    <%= f.label :amount %>

    <%= f.text_field :amount, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :expiry_date %>

    <%= f.date_select :expiry_date, class: "form-control" %>
  </div>

  <%= f.submit "Create coupon", class: "btn btn-block btn-outline-secondary" %>
<% end %>
