<% was_validated = purchased_product.errors.any? %>

<%= form_with(model: purchased_product, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for products_id start -->
  <div class="form-group">
    <% product_class = "form-control" %>
    <% product_was_invalid = purchased_product.errors.include?(:product) %>

    <% if was_validated %>
      <% if product_was_invalid %>
        <% product_class << " is-invalid" %>
      <% else %>
        <% product_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :products_id %>
    <!-- Input for products_id start -->
    <%= f.collection_select :products_id, Product.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for products_id end -->
    <% if product_was_invalid %>
      <% purchased_product.errors.full_messages_for(:product).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for products_id end -->
  <!-- Label and input for coupons_id start -->
  <div class="form-group">
    <% coupon_class = "form-control" %>
    <% coupon_was_invalid = purchased_product.errors.include?(:coupon) %>

    <% if was_validated %>
      <% if coupon_was_invalid %>
        <% coupon_class << " is-invalid" %>
      <% else %>
        <% coupon_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :coupons_id %>
    <!-- Input for coupons_id start -->
    <%= f.collection_select :coupons_id, Coupon.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for coupons_id end -->
    <% if coupon_was_invalid %>
      <% purchased_product.errors.full_messages_for(:coupon).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for coupons_id end -->
  <!-- Label and input for customers_id start -->
  <div class="form-group">
    <% customer_class = "form-control" %>
    <% customer_was_invalid = purchased_product.errors.include?(:customer) %>

    <% if was_validated %>
      <% if customer_was_invalid %>
        <% customer_class << " is-invalid" %>
      <% else %>
        <% customer_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :customers_id %>
    <!-- Input for customers_id start -->
    <%= f.collection_select :customers_id, Customer.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for customers_id end -->
    <% if customer_was_invalid %>
      <% purchased_product.errors.full_messages_for(:customer).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for customers_id end -->
  <!-- Label and input for quantity start -->
  <div class="form-group">
    <% quantity_class = "form-control" %>
    <% quantity_was_invalid = purchased_product.errors.include?(:quantity) %>

    <% if was_validated %>
      <% if quantity_was_invalid %>
        <% quantity_class << " is-invalid" %>
      <% else %>
        <% quantity_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :quantity %>
    <!-- Input for quantity start -->
    <%= f.text_field :quantity, class: quantity_class, placeholder: "Enter quantity" %>
    <!-- Input for quantity end -->
    <% if quantity_was_invalid %>
      <% purchased_product.errors.full_messages_for(:quantity).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for quantity end -->
  <!-- Label and input for loyaltyprogram_id start -->
  <div class="form-group">
    <% loyaltyprogram_class = "form-control" %>
    <% loyaltyprogram_was_invalid = purchased_product.errors.include?(:loyaltyprogram) %>

    <% if was_validated %>
      <% if loyaltyprogram_was_invalid %>
        <% loyaltyprogram_class << " is-invalid" %>
      <% else %>
        <% loyaltyprogram_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :loyaltyprogram_id %>
    <!-- Input for loyaltyprogram_id start -->
    <%= f.number_field :loyaltyprogram_id, class: loyaltyprogram_class, placeholder: "Enter loyaltyprogram" %>
    <!-- Input for loyaltyprogram_id end -->
    <% if loyaltyprogram_was_invalid %>
      <% purchased_product.errors.full_messages_for(:loyaltyprogram).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for loyaltyprogram_id end -->
  <!-- Label and input for productsreview_id start -->
  <div class="form-group">
    <% productsreview_class = "form-control" %>
    <% productsreview_was_invalid = purchased_product.errors.include?(:productsreview) %>

    <% if was_validated %>
      <% if productsreview_was_invalid %>
        <% productsreview_class << " is-invalid" %>
      <% else %>
        <% productsreview_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :productsreview_id %>
    <!-- Input for productsreview_id start -->
    <%= f.number_field :productsreview_id, class: productsreview_class, placeholder: "Enter productsreview" %>
    <!-- Input for productsreview_id end -->
    <% if productsreview_was_invalid %>
      <% purchased_product.errors.full_messages_for(:productsreview).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for productsreview_id end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
