<div class="card mb-3">
  <h2 class="card-header h4">
    Loyalty Program #<%= loyalty_program.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Merchants</dt>
      <dd>
        <% if @loyalty_program.merchants.present? %>
          <%= link_to loyalty_program.merchants, loyalty_program.merchants %>
        <% end %>
      </dd>

      <dt>Customers</dt>
      <dd>
        <% if @loyalty_program.customers.present? %>
          <%= link_to loyalty_program.customers, loyalty_program.customers %>
        <% end %>
      </dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back loyalty_program, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_loyalty_program_url(loyalty_program), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to loyalty_program, method: :delete, data: { confirm: "Do you really want to delete this loyalty_program?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(loyalty_program.updated_at) %> ago
  </div>
</div>
