<% was_validated = product_review.errors.any? %>

<%= form_with(model: product_review, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for review start -->
  <div class="form-group">
    <% review_class = "form-control" %>
    <% review_was_invalid = product_review.errors.include?(:review) %>

    <% if was_validated %>
      <% if review_was_invalid %>
        <% review_class << " is-invalid" %>
      <% else %>
        <% review_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :review %>
    <!-- Input for review start -->
    <%= f.text_field :review, class: review_class, placeholder: "Enter review" %>
    <!-- Input for review end -->
    <% if review_was_invalid %>
      <% product_review.errors.full_messages_for(:review).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for review end -->
  <!-- Label and input for customers_id start -->
  <div class="form-group">
    <% customer_class = "form-control" %>
    <% customer_was_invalid = product_review.errors.include?(:customer) %>

    <% if was_validated %>
      <% if customer_was_invalid %>
        <% customer_class << " is-invalid" %>
      <% else %>
        <% customer_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :customers_id %>
    <!-- Input for customers_id start -->
    <%= f.collection_select :customers_id, Customer.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for customers_id end -->
    <% if customer_was_invalid %>
      <% product_review.errors.full_messages_for(:customer).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for customers_id end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
