<div class="card mb-3">
  <h2 class="card-header h4">
    Product #<%= product.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Merchants</dt>
      <dd>
        <% if @product.merchants.present? %>
          <%= link_to product.merchants, product.merchants %>
        <% end %>
      </dd>

      <dt>Description</dt>
      <dd><%= product.description %></dd>

      <dt>Picture</dt>
      <dd>
        <div>
          <%= render partial: "products/one_photo_map" %>
        </div>
      </dd>

      <dt>Price</dt>
      <dd><%= product.price %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back product, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_product_url(product), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to product, method: :delete, data: { confirm: "Do you really want to delete this product?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(product.updated_at) %> ago
  </div>
</div>
