<%= search_form_for @q, :class => collapse_search_form, :id => "merchant_partnerships_filters" do |f| %>
  <p class="lead">Narrow results:</p>

  <div class="form-group">
    <%= f.label :created_at, "Created at" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='created_atgteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_gteq, :class => "form-control datetimepicker-input", :placeholder => "Created at greater than or equal to", :data => {:target => '#created_atgteqPicker'} %>
          <div class="input-group-append" data-target='#created_atgteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='created_atlteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_lteq, :class => "form-control datetimepicker-input", :placeholder => "Created at less than or equal to", :data => {:target => '#created_atlteqPicker'} %>
          <div class="input-group-append" data-target='#created_atlteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#created_atgteqPicker').datetimepicker({
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atlteqPicker').datetimepicker({
              useCurrent: false,
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atgteqPicker').on("dp.change", function (e) {
              $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#created_atlteqPicker').on("dp.change", function (e) {
              $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>


  <div class="form-group">
    <%= f.label :created_at, "Merchant Created at" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='sendergteqcreated_atPicker' data-target-input="nearest">
          <%= f.text_field :sender_created_at_gteq, :class => "form-control datetimepicker-input", :placeholder => "Merchant Created at greater than or equal to", :data => {:target => '#sendergteqcreated_atPicker'} %>
          <div class="input-group-append" data-target='#sendergteqcreated_atPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='senderlteqcreated_atPicker' data-target-input="nearest">
          <%= f.text_field :sender_created_at_lteq, :class => "form-control datetimepicker-input", :placeholder => "Merchant Created at less than or equal to", :data => {:target => '#senderlteqcreated_atPicker'} %>
          <div class="input-group-append" data-target='#senderlteqcreated_atPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#sendergteqcreated_atPicker').datetimepicker({
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#senderlteqcreated_atPicker').datetimepicker({
              useCurrent: false,
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#sendergteqcreated_atPicker').on("dp.change", function (e) {
              $('#senderlteqcreated_atPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#senderlteqcreated_atPicker').on("dp.change", function (e) {
              $('#sendergteqcreated_atPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>

  <div class="form-group">
    <%= f.label :created_at, "Merchant Created at" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='receivergteqcreated_atPicker' data-target-input="nearest">
          <%= f.text_field :receiver_created_at_gteq, :class => "form-control datetimepicker-input", :placeholder => "Merchant Created at greater than or equal to", :data => {:target => '#receivergteqcreated_atPicker'} %>
          <div class="input-group-append" data-target='#receivergteqcreated_atPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='receiverlteqcreated_atPicker' data-target-input="nearest">
          <%= f.text_field :receiver_created_at_lteq, :class => "form-control datetimepicker-input", :placeholder => "Merchant Created at less than or equal to", :data => {:target => '#receiverlteqcreated_atPicker'} %>
          <div class="input-group-append" data-target='#receiverlteqcreated_atPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#receivergteqcreated_atPicker').datetimepicker({
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#receiverlteqcreated_atPicker').datetimepicker({
              useCurrent: false,
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#receivergteqcreated_atPicker').on("dp.change", function (e) {
              $('#receiverlteqcreated_atPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#receiverlteqcreated_atPicker').on("dp.change", function (e) {
              $('#receivergteqcreated_atPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>


  <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

  <a href="/merchant_partnerships" class="btn btn-outline-secondary btn-block mb-1">Clear filters</a>

<% end %>

<a class="btn btn-outline-secondary btn-block mb-1" data-toggle="collapse" href="#merchant_partnerships_filters">
  Show filters
</a>
