<div class="card mb-3">
  <h2 class="card-header h4">
    Assigned Coupon #<%= assigned_coupon.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Coupons</dt>
      <dd>
        <% if @assigned_coupon.coupons.present? %>
          <%= link_to assigned_coupon.coupons, assigned_coupon.coupons %>
        <% end %>
      </dd>

      <dt>Customers</dt>
      <dd>
        <% if @assigned_coupon.customers.present? %>
          <%= link_to assigned_coupon.customers, assigned_coupon.customers %>
        <% end %>
      </dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back assigned_coupon, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_assigned_coupon_url(assigned_coupon), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to assigned_coupon, method: :delete, data: { confirm: "Do you really want to delete this assigned_coupon?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(assigned_coupon.updated_at) %> ago
  </div>
</div>
